{% extends 'workspace/base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block navbar %}<a class="nav-item nav-link" href="{% url 'new-workspace' %}">New Workspace</a>{% endblock %}

{% block content %}

	<h1>Dashboard</h1>
	<hr>
	{% if workspaces %}
		<div class="row row-cols-1 row-cols-md-3">
			{% for workspace in workspaces %}
				<div class="col mb-4">
					<div class="card">
				  	<a class="workspace-link" href="{% url 'user-workspace' workspace.id %}">
				  		<div class="card-body">
						    <h5 class="card-title">{{ workspace.name }}</h5>
						    <p class="card-text">{{ workspace.desc }}</p>
							   <p class="text-muted"><small>Members: {% for user in workspace.users.all %}{{ user.username }}, {% endfor %}</small></p>
						  </div>
				  	</a>
					  <div class="card-footer text-right">
					  	<div class="dropdown">
					  		<a style="cursor:pointer" class="card-link" id="optionsLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</a>
					  		<div class="dropdown-menu" aria-labelledby="optionsLink">
					  			<a href="{% url 'workspace-edit' workspace.id %}" class="dropdown-item">Edit</a>
					  			<a href="{% url 'workspace-invite' workspace.id %}" class="dropdown-item">Members on workspace</a>
					  			<div class="dropdown-divider"></div>
					  			<a href="{% url 'workspace-delete' workspace.id %}" class="dropdown-item">Delete</a>
					  		</div>
					  	</div>
					  </div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% else %}
	<div class="d-flex justify-content-center align-items-center">
		<h2><a href="{% url 'new-workspace' %}">Create a Workspace</a></h2>
	</div>
	{% endif %}

	<a data-toggle="modal" data-target="#helpModal" class="float"><p class="my-float">Help</p></a>
	{# Help Modal #}
	<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="help" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="help">Help</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<p>This is your dashboard where all your Workspaces are stored</p><p>Once you've created your first Workspace you can create more from the New Workspace option on the navigation bar</p><img src="{% static 'workspace/dashboard/NewWorkspace.png' %}" width="50%"><img src="{% static 'workspace/dashboard/invite.png' %}" width="50%"><p>The options link on the Workspaces allow you to edit, grant other people access to, or delete the Workspace entirely</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

{% endblock %}