{% extends 'workspace/base.html' %}

{% block head %}

{% endblock %}

{% block navbar %}
	{% if user.is_authenticated %}
		<a class="nav-item nav-link" href="{% url 'user-dashboard' %}">My Dashboard</a>
	{% endif %}
{% endblock %}

{% block content %}

	<h4>Welcome to</h4>
	<h1>Online Workspace</h1>
	<hr>

	<p style="font-size:120%;">A web-based solution to keeping all your tasks, files and notes of a project in a single online space that can be easily shared with others</p>

	<a class="btn btn-outline-info" href="{% url 'register' %}">Try it Now</a>

{% endblock %}